body
{
    background-color:hsl(216, 12%, 8%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

@font-face {
    font-family: 'Overpass';
    src: url(static/Overpass-Light.ttf);
}

li, h1, p
{
    color: white;
}

main
{
    width: 300px;
    height: 300px;
    background-color: hsl(213, 19%, 18%);
    border-radius: 25px;
    
}

form
{
    display: flex;
    justify-content: space-evenly;
}

.envoyer
{
    background-color: hsl(25, 97%, 53%);
    border: 0px;
    padding-left: 105px;
    padding-right: 105px;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-left: 20px;
    margin-top: 20px;
    border-radius: 30px;
    color: hsl(0, 0%, 100%);
    font-family: Overpass, Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 11px;
    letter-spacing: 2px;
    
}

.star
{
    width: 12px;
    height: 12px;
    background-color: hsl(208, 12%, 21%);
    border-radius: 75px;
    padding: 10px;
    margin-left: 20px;
    margin-top: 20px;
}

form input
{
    background-color: hsl(208, 12%, 21%);
    border-radius: 75px;
    padding: 10px 15px 10px 15px;
    font-family: Overpass, Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: hsl(217, 12%, 63%);
    margin-left: 0px;
    border: 0px;
    cursor: pointer;
    margin-top: 15px;
}

h1
{
    font-family: Overpass, Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin-left: 25px;
}

p
{
    font-family: Overpass, Arial, Helvetica, sans-serif ;
    font-size: 12px;
    color: hsl(217, 12%, 63%);
    margin-left: 25px;
}

.envoyer:hover
{
    background-color: hsl(0, 0%, 100%);
    color: hsl(25, 97%, 53%);
}

form input:hover
{
    background-color: hsl(25, 97%, 53%);
    color: hsl(0, 0%, 100%);
}


.end
{
    display: none;
}

.end-img
{
    width: 120px;
    height: 80px;
    margin-left: 75px;
    margin-top: 30px;
}

.recap
{
    background-color: hsl(208, 12%, 21%);
    color: hsl(25, 97%, 53%);
    border-radius: 30px;
    width: 130px;
    padding: 5px;
    text-align: center;
    margin-left: 75px;
}

.thanks
{
    margin-left: 93px;
}

.feedback
{
    width: 270px;
    text-align: center;
    margin-left: 15px;
}